<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <style>
     .container-fluid img{
      width: 100%;
      height: 100%;
  }
 </style>       
</head>
<body>
    <section>
    <div class="container-fluid bg-grey" id="about">
        <h1 class="text-center pt-4"><b>About Us</b></h1>
        <hr>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <img src="static/ab.jpg"></div>
            <div class="col-lg-6 col-md-6 col-12">
            <P>Launched in 2005, India’s No. 1 property portal, deals with every aspect of the consumers’ needs in the real estate industry. It is an online forum where buyers, sellers and brokers/agents can exchange information about real estate properties quickly, effectively and inexpensively. At our company, you can advertise a property, search for a property, browse through properties, build your own property microsite, and keep yourself updated with the latest news and trends making headlines in the realty sector.</P><hr>
                <h2>Why our company?</h2><p>
                    At present, our company prides itself for having around nine lakh property listings spanning across 600+ cities in India. Of all, the website held over 5.7 lakh paid listings at the end of FY 2018-19. In addition to providing an online platform to real estate developers, brokers and property owners for listing their property for sale, purchase or rent, offers advertisement stints such as microsites, banners, home page links and project pages to the clients for better visibility and branding in the market.

With the ever-evolving online search behaviour, shares updated information pertinent to real estate activities, assisting prospective buyers to make informed buying decision. We make online property search easier, quicker and smarter!
                </p><hr>
<h2>Awards and Recognitions</h2><p>
    PropTech Mobile App of the Year Award 2019
our company won the award for ‘Personalized User Journey’<br>
Best Mobile Appies Award 2015
our company won the award for having the ‘Most Innovative Mobile App’ in the real estate category.<br>
CMO ASIA Awards 2012
our company was awarded the ‘Most Admired Real Estate Website of the Year’ at the 3rd CMO Asia Awards for excellence in the real estate segment.<br>
BCI Awards 2012
our company was recognised as the ‘Best Real Estate Portal’ in 2012.<br>
Accommodation Times Awards 2012
our company was announced the ‘Best Online Realty Portal’ by the Accommodation Times in 2012.
</p><hr>
        </p>
            </div></div></div>
</section><hr>
</body>
</html>