
<!DOCTYPE html>
<html>
    <head>
        <title>Property dealer</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
 .container-fluid img{
      width: 100%;
      height: 100%;
  }
  </style>
        
    </head>
    <body>
        <header><div class="navbar-toggler">
            <nav class="navbar navbar-expand-md bg-info  navbar-dark">
  <!-- Brand -->

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="#home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/appointment">Appointment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/aboutus">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contactus">Contact Us</a>
      </li>
    </ul>
  </div>
            </nav></div>
        </header>
        
<div id="home" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#bg1" data-slide-to="0" class="active"></li>
    <li data-target="#bg" data-slide-to="1"></li>
    <li data-target="#bg2" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active" id="bg1">
      <img src="static/bg1.jpg" alt="For sale">
    </div>
    <div class="carousel-item" id="bg">
      <img src="static/bg.jpg" alt="Property">
    </div>
    <div class="carousel-item" id="bg2">
      <img src="static/bg2.jpg" alt="Sale pending">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#bg1" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#bg" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div><hr class="w-25 mx-auto">


  <!-- Properties -->
    <section>
        <div class="text-center pb-4 " id="Properties">
            <h1><b>Properties</b></h1>
        </div>
    <div class="row container-fluid pb-4">
        <div class="col-lg-4 col-md-4 col-12">
            <div class="card" style="width:auto">
  <img class="card-img-top" src="static/dd.jpg" alt="Card image">
  <div class="card-body">
    <h2 class="card-title">4BHK Independent House for Rent</h2>
    <p class="card-text">Gurgaon sector 9a</p>
    <a href="/explore1" class="btn btn-primary">Explore more</a>
  </div>
            </div></div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="card" style="width:auto">
  <img class="card-img-top" src="static/dd1.jpg" alt="Card image">
  <div class="card-body">
    <h2 class="card-title">3BHK Independent House for Rent</h2>
    <p class="card-text">Noida sector62</p>
    <a href="/explore1" class="btn btn-primary">Explore more</a>
  </div>
</div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="card" style="width:auto">
  <img class="card-img-top" src="static/dd2.jpg" alt="Card image">
  <div class="card-body">
    <h2 class="card-title">4BHK Independent House for Rent</h2>
    <p class="card-text">Dwarka sector 12 New delhi</p>
    <a href="/explore1" class="btn btn-primary">Explore more</a>
  </div>
</div>
        </div></div>
    </section><hr>
    
    
    <footer>
        <p class="text-center bg-dark text-white">
            Created by: Rajat chauhan
        </p>
    </footer><hr>
    
    </body>
</html>
